body {
    background-color: wheat;
}

h1, h3 {
    padding: 20px;
    margin: 20px;
}
.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

mark {
    background-color: yellow;
    color: black;
}

.carousel-item {
    padding: 50px;
}

.card {
    width: 80%;
    margin: auto;
}

footer {
    text-align: center;
}
